@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Обнуление*/
body {
  font-family: "Arial", sans;
  height: 1800px;
}

.header {
  color: #fff;
  background: #495261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 50px 50px;
  margin-bottom: 50px;
}
.header img {
  width: 469px;
  height: 214px;
}

li {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
}
li:before {
  margin-right: 5px;
  content: url("/img/icons/icon.png");
}

h1 {
  font-size: 59px;
  margin-bottom: 40px;
}

.layer-7 {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 40px;
}
.layer-7 p {
  font-size: 16px;
  max-width: 641px;
  line-height: 1.5;
}
.layer-7 h2 {
  font-size: 30px;
  margin-bottom: 36px;
  line-height: 1.2;
}

.column {
  background: #f2f2f2;
  margin: 30px 0;
}
.column h2 {
  padding: 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  color: #445161;
}

.column-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}
.column-content .column-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-bottom: 30px;
}
.column-content .column-card .column-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  margin-left: 15px;
}
.column-content .column-card h3 {
  color: #445161;
  font-size: 24px;
  line-height: 1.25;
}
.column-content .column-card p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.three h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 1.2;
  color: #445161;
}

.three-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.three-cards .three-card {
  background: #495261;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  height: 500px;
  margin: 0 10px;
  border-radius: 5px;
}
.three-cards .three-card h3 {
  margin: 12px auto;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
}
.three-cards .three-card .three-white {
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  border: solid 2px #495261;
  font-size: 40px;
  line-height: 0.75;
  color: #495261;
  margin-bottom: 20px;
}
.three-cards .three-card p {
  width: 85%;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.three-cards .three-card form {
  border-radius: 5px;
  width: 85%;
  margin: 20px auto;
  padding: 10px 0;
  text-align: center;
  background: #fff;
}